body 
{
    text-align: center;
    color: brown;
    background-color: rgb(237, 201, 201);
}
table
 {
    margin-left: 30%;
    width: 40%;
    border: 1px solid black;
}
a 
{
    text-align: left;
    color: brown;
    text-decoration: none; 
}
td 
{
    text-align: center;
    color: brown;
    width: 30%;
}

table.form td {
    text-align: left;
}
table.form td textarea
{
     width: 98%;
     height: 40px;
}